fastapi==0.115.6
uvicorn[standard]==0.34.0
google-generativeai==0.8.3
python-dotenv==1.0.1
pydantic==2.10.3
streamlit
streamlit-authenticator
plotly
langfuse
presidio-anonymizer
presidio-analyzer
slowapi
python-jose[cryptography]
PyJWT
langchain
langchain-google-genai
langgraph
langchain-community
langchain-chroma
spacy
httpx
langdetect
python-multipart
bcrypt
passlib[bcrypt]
